<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<base href="{{ site.baseurl }}">

<title>{%if page.id == "home" %}{{ site.name }} - {{ site.description }} {% else %}{{ page.title }} - {{ site.name }}{% endif %}</title>

<!-- build:css({app,.tmp}) /styles/main.css -->
<link rel="stylesheet" href="/styles/main.css">
<!-- endbuild -->

</head>
<body>

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1 class="header__title">{{ site.name }}</h1>
        <h2 class="header__desc">{{ site.description }}</h2>
      </div>
      <div class="col-xs-12 col-sm-6">
        <aside class="meta-cta">
          <p>
            <small><em>Send <strong>Pull Request</strong> to add more companies.</em></small>
          </p>
          <iframe
            src="http://ghbtns.com/github-btn.html?user=oinam&repo=remote-teams&type=watch&count=true"
            allowtransparency="true"
            frameborder="0"
            scrolling="0"
            width="110"
            height="20">
          </iframe>
          <iframe
            src="http://ghbtns.com/github-btn.html?user=oinam&repo=remote-teams&type=fork&count=true"
            allowtransparency="true"
            frameborder="0"
            scrolling="0"
            width="95"
            height="20">
          </iframe>
        </aside>
      </div>
    </div>
  </div>
</header>

{{ content }}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Details on forking, contributing, running locally, and sending <strong>Pull Request</strong> are documented in the <a href="">README</a>.
        </p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
