// color
$white                       : #fff;
$black                       : #000;

$gray-darker                 : lighten(#000, 13.5%);
$gray-dark                   : lighten(#000, 20%);
$gray                        : lighten(#000, 33.5%);
$gray-light                  : lighten(#000, 46.7%);
$gray-lighter                : lighten(#000, 93.5%);

$color-primary               : #3498db;
$color-secondary             : #3498db;
$brand-primary               : $color-primary;

$body-bg                     : #fff;
$text-color                  : #444;

$link-color                  : $color-primary;
$link-hover-color            : darken($link-color, 10%);

$font-size-base              : 14px;
$line-height-base            : 1.428571429;

$font-weight-thin            : 100;
$font-weight-light           : 200;
$font-weight-normal          : 300;
$font-weight-medium          : 400;
$font-weight-bold            : 500;

// tables

$table-cell-padding          : 6px;
$table-condensed-cell-padding: $table-cell-padding/1.5;
$table-bg                    : transparent;
$table-bg-accent             : lighten($gray-lighter, 5);
$table-bg-hover              : #f5f5f5;
$table-bg-active             : $table-bg-hover;
$table-border-color          : $gray-lighter;
