.table-companies {

  tbody {
    counter-reset: table-counter;

    tr {
      counter-increment: table-counter;

      td:first-child:before {
        content: counter(table-counter);
        text-align: right;
        display: block;
      }
    }
  }
}
